/* Non-mobiled */
@media only screen and (min-width: 768px) {
  .pane-root {
    flex-direction: row;
  }

  .topbar {
    display: none;
  }

  .navbar {
    order: -1;
    box-shadow: none;
    height: 100%;
    width: 50px;
    flex-direction: column;
  }

  .navbar .logo {
    display: block;
    padding: 5px 0;
  }

  .navbar .navitem {
    flex: 0;
    margin-top: 5px;
  }

  /* TODO: gross specifity */
  .navbar .navitem-cards {
    padding: 5px 0;
  }

  .navbar .navitem-deck {
    margin-bottom: 0;
  }

  .deck-size {
    margin: 5px 0 0;
  }

  .pane-container {
    /* calc due to navbar on side */
    width: calc(100vw - 50px);
  }

  .navbar-button {
    margin-top: auto;
    padding: 0;
  }
  .navbar-button img {
    max-width: 100%;
  }
  .navbar .export-button {
    display: block;
  }

  .patreon-link {
    text-align: start;
  }

  /* Temporary */
  .save-warning {
    top: 0;
    left: 50px;
  }
}

/* These are breakpoints for .list-item to make sure they wrap smartly
   Because CSS Grid can't be nested.
*/

/* 2 * 300 + (2 * 8) + 8 */
@media only screen and (min-width: 624px) {
  .list-item {
    max-width: calc((100% / 2) - 8px);
  }
}

/* 3 * 300 + (3 * 8) + 8 + 50 (sidebar) */
@media only screen and (min-width: 982px) {
  .list-item {
    max-width: calc((100% / 3) - 8px);
  }
}

/* 4 * 300 + (4 * 8) + 8 + 50 (sidebar) */
@media only screen and (min-width: 1290px) {
  .list-item {
    max-width: calc((100% / 4) - 8px);
  }
}

/* 5 * 300 + (5 * 8) + 8 + 50 (sidebar) */
@media only screen and (min-width: 1590px) {
  .list-item {
    max-width: calc((100% / 5) - 8px);
  }
}

/* 6 * 300 + (6 * 8) + 8 + 50 (sidebar) */
@media only screen and (min-width: 1906px) {
  .list-item {
    max-width: calc((100% / 6) - 8px);
  }
}

/* 7 * 300 + (7 * 8) + 8 + 50 (sidebar) */
@media only screen and (min-width: 2214px) {
  .list-item {
    max-width: calc((100% / 7) - 8px);
  }
}

/* 8 * 300 + (8 * 8) + 8 + 50 (sidebar) */
@media only screen and (min-width: 2522px) {
  .list-item {
    max-width: calc((100% / 8) - 8px);
  }
}

/* Didn't do 9+ because 4K only shows 8 */
