body {
  display: block;
  margin: 0;
}

.align-center {
  text-align: center;
}

.navbar-top,
.navbar-bottom {
  box-sizing: border-box;
  /*padding: 10px 8px 5px;*/
  background: #303030;
  height: 50px;
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  z-index: 10;
}
.navitem {
  text-align: center;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.navbar-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.navbar-top .logo {
  margin-right: 20px;
  padding: 10px;
  text-align: left;
  flex-grow: 1;
}
.logo img {
  vertical-align: middle;
  filter: drop-shadow(0px 0px 2px #FFF);
  margin-right: 10px;
}

.navbar-bottom {
  box-shadow: 0 10px 10px 10px #808080;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.navbar-bottom .navitem {
  flex-grow: 1;
  flex-basis: 0;

  padding: 10px 8px 5px;
  border-right: 1px solid grey;
}

.navitem.selected {
  background: #444;
  /*color: #32a1f9;*/
}

.navitem:last-child {
  border-right-color: transparent;
}

.pane-root {
  overflow: hidden;
}

.pane-container {
  display: flex;
  will-change: transform;
  padding: 50px 0;
  height: 100vh;
  box-sizing: border-box;
}

/* Animations when transition from->to pages */
/* TODO: Finish these */
.from-home.to-deck,
.from-deck.to-home {
  transition: transform .3s;
}

.from-home.to-search,
.from-deck.to-search {
  animation: .3s slideSearchIn;
}
.from-search.to-home,
.from-search.to-deck {
  animation: .3s slideSearchOut;
}

.from-home.to-card,
.from-deck.to-card {
  animation: .3s slideCardIn;
}
.from-card.to-home,
.from-card.to-deck {
  animation: .3s slideCardOut;
}

.to-deck {
  transform: translate3d(-100%, 0, 0);
}
.to-search {
  transform: translate3d(-200%, 0, 0);
}
.to-card {
  transform: translate3d(-300%, 0, 0);
}

@keyframes slideSearchIn {
  from {
    transform: translate3d(-200%, -100vh, 0);
  }

  to {
    transform: translate3d(-200%, 0, 0);
  }
}
@keyframes slideSearchOut {
  from {
    transform: translate3d(-200%, 0, 0);
  }

  to {
    transform: translate3d(-200%, -100vh, 0);
  }
}
@keyframes slideCardIn {
  from {
    transform: translate3d(-300%, -100vh, 0);
  }

  to {
    transform: translate3d(-300%, 0, 0);
  }
}
@keyframes slideCardOut {
  from {
    transform: translate3d(-300%, 0, 0);
  }

  to {
    transform: translate3d(-300%, -100vh, 0);
  }
}

.pane {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  overflow-x: auto;
  padding: 0 8px;
  box-sizing: border-box;
}

.column-wrapper {
  position: relative;
  padding: 0;
}

.column-contents {
  padding: 0 8px;
  margin-bottom: 50px;
}

/* TODO: a lot of these styles are copied from navitem */
/* This only shows on desktop */
.column-footer {
  display: none;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  right: 0;
  /* Super hacky way to force it to the bottom when list is smaller */
  top: calc(100vh - 100px);
  height: 50px;
  margin-top: -50px;
  background: #303030;
  color: #fff;
  font-size: 20px;
  z-index: 10;
}

.column-footer > * {
  margin: auto;
}
.column-label {
  flex-grow: 1;
  text-align: center;
}

#card-pane {
  padding: 10px 20px 20px;
}

.search-button, .auto-button {
  border: none;
  background: #303030;
  color: #fff;
  width: 100%;
  outline: none;
  font-size: 18px;
  margin-top: 20px;
  padding: 8px;
  border-radius: 4px;
}

.auto-button {
  display: none;
  background: #d3d3d3;
  color: #999999;
}

.list-item-header {
  font-weight: 700;
  text-align: center;
  padding: 10px;
  font-size: 1.1rem;
  border-bottom: 1px solid #d3d3d3;
}

.list-item-sub-header {
  text-align: center;
  padding: 4px;
  border-bottom: 1px solid #d3d3d3;
}
.list-item-warning {
  text-align: center;
   padding: 4px;
  /* background: #ebcccc; */
   background: #f4adad;
  /* color: #a94442; */
  color: #852725;
  border-radius: 0 0 3px 3px;
}

.list-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 8px 0;
  min-height: 70px;
  border-bottom: 1px solid #d3d3d3
}

.card-details {
  display: flex;
  padding-bottom: 10px;
}

.card-thumbnail {
  border-radius: 3px;
  max-width: 100%;
  max-height: 100px;
  margin-right: 10px;
}
.card-full {
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;
}

.card-text {
  margin-right: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  transition: max-height 2s;
}
.card-title {
  flex-grow: 1;
  font-weight: 700;
  margin-bottom: 5px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.card-effect img {
  max-width: 12px;
}
.card-effect img.upscale {
  max-width: 17px;
}

.card-stats {
  flex-direction: column;
  display: flex;
  white-space: nowrap;
  text-align: right;
}
.card-stat-mp {
  flex-grow: 1;
  text-align: right;
}
.card-stat-icon {
  max-width: 20px;
  vertical-align: middle;
}
.card-stat-text {
  margin-left: 5px;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}

.stepper-container {
  display: flex;
  width: 100%;
}

.count-container {
  order: 2;
  flex-grow: 1;
  font-weight: 700;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #303030;
  border-bottom: 2px solid #303030;
}
.stepper-decrement:disabled ~ .count-container {
  /* TODO: prefixes?  */
  border-image: linear-gradient(270deg, #303030, #d3d3d3) 1;
}
.stepper-increment:disabled ~ .count-container {
  /* TODO: prefixes?  */
  border-image: linear-gradient(90deg, #303030, #d3d3d3) 1;
}

/* Consider https://github.com/gmertk/GMStepper style */
.stepper-button {
  border: none;
  /* border: 2px solid #303030; */
  background: #303030;
  color: #fff;
  width: 25%;
  height: 30px;
  outline: none;
  /* TODO: replace with icons */
  font-size: 20px;
  font-weight: 900;
}
.stepper-button:disabled {
  background: #d3d3d3;
  color: #303030;
  /* border-color: #909090; */
}
.stepper-decrement {
  order: 1;
  /* border-right: 1px solid #d3d3d3; */
  border-radius: 5px 0 0 5px;
}
.stepper-increment {
  order: 3;
  /* border-left: 1px solid #d3d3d3; */
  border-radius: 0 5px 5px 0;
}

/* From https://github.com/mladenplavsic/css-ripple-effect */
.ripple:not(:disabled) {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.ripple:not(:disabled):after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .25s, opacity .5s;
}
.ripple:not(:disabled):active:after {
  transform: scale(0, 0);
  opacity: .2;
  transition: 0s;
}

/* TODO: better naming  */
.deck-card-details {
  display: flex;
}
.deck-card-stats {
  display: inline-flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}
.deck-card-stats .card-stat {
  margin-right: 5px;
}
.deck-card-stats .card-stat:last-of-type {
  margin-right: 0;
}


.navbar-button {
  padding: 0;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
}
.navbar-button img {
  padding: 5px 10px;
  width: 35px;
}

.view-icon {
  width: 20px;
  vertical-align: middle;
}

.checkbox {
  display: block;
  font-size: 18px;
  padding: 5px 5px 5px 0;
}

.checkbox input {
  visibility: hidden;
  width: 20px;
  height: 20px;
  margin: 0 5px 0 0;
  vertical-align: text-bottom;
}

.checkbox input:before {
  visibility: visible;
  content: " ";
  width: 20px;
  height: 20px;
  display: block;
  background-image: url(/icons/ios-circle-outline.svg);
  background-size: 20px;
  /* This 1px really annoyed me */
  position: relative;
  top: -1px;
}

.checkbox input:checked:before {
  background-image: url(/icons/ios-checkmark.svg);
}

/* Non-mobiled */
@media only screen and (min-width: 768px) {
  .navbar-bottom {
    display: none;
  }

  .pane-container {
    transform: translate3d(0%, 0, 0);
    padding-bottom: 0;
    /* border-right: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    margin: 0 auto; */
  }

  .to-deck {
    transform: none;
  }

  .pane {
    flex-shrink: 1;
    border-right: 1px solid #d3d3d3;
  }

  #search-pane {
    order: 1;
    max-width: 200px;
  }

  #card-list-pane {
    order: 2;
  }

  #card-pane {
    order: 3;
    max-width: 380px;
    overflow-y: scroll;
  }

  #deck-list-pane {
    order: 4;
    border-right: none;
  }

  /* In desktop mode, you can see the auto filtering, I think */
  .search-button {
    display: none;
  }

  .auto-button {
    display: block;
  }

  /* Show the deck text on desktop */
  .column-footer {
    /* Needs to be flex */
    display: flex;
  }

  /* Hide the search button on desktop */
  .navbar-top .navbar-button {
    display: none;
  }
}
