body {
  display: block;
  margin: 0;
}

.align-center {
  text-align: center;
}

.navbar-top,
.navbar-bottom {
  box-sizing: border-box;
  /*padding: 10px 8px 5px;*/
  background: #303030;
  height: 50px;
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  z-index: 10;
}
.navitem {
  text-align: center;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.navbar-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.navbar-top .logo {
  margin-right: 20px;
  padding: 10px;
  text-align: left;
  flex-grow: 1;
}

.navbar-bottom {
  box-shadow: 0 10px 10px 10px #808080;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.navbar-bottom .navitem {
  flex-grow: 1;
  flex-basis: 0;

  padding: 10px 8px 5px;
  border-right: 1px solid grey;
}

.navitem.selected {
  background: #444;
  /*color: #32a1f9;*/
}

.navitem:last-child {
  border-right-color: transparent;
}

.pane-root {
  overflow: hidden;
}

.pane-container {
  display: flex;
  will-change: transform;
  transform: translate3d(-100%, 0, 0);
  padding: 50px 0;
  height: 100vh;
  box-sizing: border-box;
  transition: transform .3s;
}

.is-card {
  transform: translate3d(0%, 0, 0);
}
.is-deck {
  transform: translate3d(-200%, 0, 0);
}

.pane {
  width: 100%;
  flex-shrink: 0;
  overflow-x: auto;
  align-self: flex-start;
  height: 100%;
  padding: 0 8px;
  box-sizing: border-box;
}

#card-pane {
  padding: 10px 20px 20px;
}

/* Non-mobiled */
@media only screen and (min-width: 768px) {
  .navbar-bottom {
    display: none;
  }

  .pane-container {
    transform: translate3d(0%, 0, 0);
    padding-bottom: 0;
    /* border-right: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    margin: 0 auto; */
  }

  .is-deck {
    transform: none;
  }

  #card-pane {
    order: 2;
    flex-shrink: 1;
     max-width: 380px;
  }

  #card-list-pane {
    flex-shrink: 1;
    border-right: 1px solid #d3d3d3;
    order: 1;
  }

  #deck-list-pane {
    flex-shrink: 1;
    border-left: 1px solid #d3d3d3;
    order: 3;
  }
}

.list-item-header {
  font-weight: 700;
  text-align: center;
  padding: 10px;
  font-size: 1.1rem;
  border-bottom: 1px solid #d3d3d3;
}

.list-item-sub-header {
  text-align: center;
  padding: 4px;
  border-bottom: 1px solid #d3d3d3;
}
.list-item-warning {
  text-align: center;
   padding: 4px;
  /* background: #ebcccc; */
   background: #f4adad;
  /* color: #a94442; */
  color: #852725;
  border-radius: 0 0 3px 3px;
}

.list-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 8px 0;
  min-height: 70px;
  border-bottom: 1px solid #d3d3d3
}

.card-details {
  display: flex;
  padding-bottom: 10px;
}

.card-thumbnail {
  border-radius: 3px;
  max-width: 100%;
  max-height: 100px;
  margin-right: 10px;
}
.card-full {
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;
}

.card-text {
  margin-right: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  transition: max-height 2s;
}
.card-title {
  flex-grow: 1;
  font-weight: 700;
  margin-bottom: 5px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.card-effect img {
  max-width: 12px;
}
.card-effect img.upscale {
  max-width: 17px;
}

.card-stats {
  flex-direction: column;
  display: flex;
  white-space: nowrap;
  text-align: right;
}
.card-stat-mp {
  flex-grow: 1;
  text-align: right;
}
.card-stat-icon {
  max-width: 20px;
  vertical-align: middle;
}
.card-stat-text {
  margin-left: 5px;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}

.stepper-container {
  display: flex;
  width: 100%;
}

.count-container {
  order: 2;
  flex-grow: 1;
  font-weight: 700;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #303030;
  border-bottom: 2px solid #303030;
}
.stepper-decrement:disabled ~ .count-container {
  /* TODO: prefixes?  */
  border-image: linear-gradient(270deg, #303030, #d3d3d3) 1;
}
.stepper-increment:disabled ~ .count-container {
  /* TODO: prefixes?  */
  border-image: linear-gradient(90deg, #303030, #d3d3d3) 1;
}

/* Consider https://github.com/gmertk/GMStepper style */
.stepper-button {
  border: none;
  /* border: 2px solid #303030; */
  background: #303030;
  color: #fff;
  width: 25%;
  height: 30px;
  outline: none;
  /* TODO: replace with icons */
  font-size: 20px;
  font-weight: 900;
}
.stepper-button:disabled {
  background: #d3d3d3;
  color: #303030;
  /* border-color: #909090; */
}
.stepper-decrement {
  order: 1;
  /* border-right: 1px solid #d3d3d3; */
  border-radius: 5px 0 0 5px;
}
.stepper-increment {
  order: 3;
  /* border-left: 1px solid #d3d3d3; */
  border-radius: 0 5px 5px 0;
}

/* From https://github.com/mladenplavsic/css-ripple-effect */
.ripple:not(:disabled) {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.ripple:not(:disabled):after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .25s, opacity .5s;
}
.ripple:not(:disabled):active:after {
  transform: scale(0, 0);
  opacity: .2;
  transition: 0s;
}

/* TODO: better naming  */
.deck-card-details {
  display: flex;
}
.deck-card-stats {
  display: inline-flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}
.deck-card-stats .card-stat {
  margin-right: 5px;
}
.deck-card-stats .card-stat:last-of-type {
  margin-right: 0;
}


.export {
  padding: 0;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}
.export img {
  padding: 5px 10px;
  width: 35px;
}

.view-icon {
  width: 20px;
  vertical-align: middle;
}
